P{
    font-style: bold;
    display:inline;
    margin: .2%;
}
#formulario{
    background-color: gainsboro;
    border:1px solid;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: .4%;
}
#formulario input{
    border-radius: 5px;
    font-size: .9em;
    background-color: antiquewhite;
    margin: .3% .3%;
    padding: .2%;
}

h1{
    text-align: center;
}
input{
    margin: .2%;
    text-align: center;
}
#botones{
    margin-top: 2%;
    background-color: gainsboro;
    border:1px solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1%;
    text-align: center;
    
    
}
#botones input{
    border-radius: 5px;
    font-size: 1.5em;
    background-color: antiquewhite;
    margin: 0 3%;
}
table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 1%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: .4%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    background-color: antiquewhite;
}
#lista{
    margin-left: 5%;
    margin-right: 5%;
}
button{
    width: 100px;
    padding: 0px;
    border-radius: 6px;
  
}